.box{
  display: flex;
  width: 100%;
  height: .88rem;
  line-height: .88rem;
}
.fa{
  width: 1rem;
  font-size: .36rem;
  color: #a1b0b2;
  line-height: .88rem;
  text-align: center;
}
.text{
  padding-left: .3rem;
  font-size: .21rem;
  color: #6a626f;
  box-sizing: border-box;
}