.box{
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 0;
  height: 100%;
  background-color: rgba(0,0,0,0);
  transition: .35s background-color, .0s .35s width;
}
.active{
  width: 100%;
  background-color: rgba(0,0,0,.5);
  transition: .35s background-color, .0s width;
}
.bd{
  overflow: auto;
  position: absolute;
  left: -77%;
  width: 77%;
  max-width: 6.16rem;
  height: 100%;
  background-color: #fafafa;
  transition: .35s;
}
.active .bd{
  left: 0;
}
.mn{
  width: 100%;
}
.lst{
  padding: .15rem 0;
  width: 100%;
  border-bottom: .018rem solid #eaecec;
}