.box{
  position: relative;
  padding-left: 4px;
  width: 100%;
  height: 254px;
  background-color: #fafafa;
  box-sizing: border-box;
}
.mn{
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
}