.box{
  overflow: hidden;
  float: left;
  margin-left: 9px;
  width: 254px;
  height: 254px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fafafa;
  box-sizing: border-box;
}
.img{
  width: 100%;
  height: 100%;
}