.box{
  overflow: hidden;
  float: left;
  margin-left: .21rem;
  width: 3.91rem;
  height: 3.91rem;
  border: .018rem solid #eee;
  border-radius: .06rem;
  background-color: #fafafa;
  box-sizing: border-box;
}
.img{
  width: 100%;
  height: 100%;
}