.box{
  padding-top: .28rem;
}
.title{
  display: block;
  margin: 0 auto;
  width: 5rem;
  height: .86rem;
  font-size: .22rem;
  color: #fff;
  border: 0;
  border-radius: .07rem;
  background-color: #2196f3;
}